<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125295101316-nsrc6lhip9oqir7eamsem73g9138ejdk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125295101316-nsrc6lhip9oqir7eamsem73g9138ejdk</string>
	<key>API_KEY</key>
	<string>AIzaSyAfocIGRWur8NGKa-9TMVmvoLYM5TVVbvo</string>
	<key>GCM_SENDER_ID</key>
	<string>125295101316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globalsoft.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-a21c7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-a21c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125295101316:ios:d6be3d4e02abfe67c389d1</string>
</dict>
</plist>